/* line 7, /home/ubuntu/workspace/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 10, /home/ubuntu/workspace/src/assets/styles/index.sass */
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: #555;
  background: #4183D7; }

/* line 18, /home/ubuntu/workspace/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #555; }

/* line 24, /home/ubuntu/workspace/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 100%;
  display: block;
  clear: both;
  float: left; }

/* line 31, /home/ubuntu/workspace/src/assets/styles/index.sass */
.header {
  padding: 20px;
  border-bottom: 1px solid #efefef; }

/* line 36, /home/ubuntu/workspace/src/assets/styles/index.sass */
.nav {
  margin: 0;
  padding: 0; }
  /* line 40, /home/ubuntu/workspace/src/assets/styles/index.sass */
  .nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
    /* line 46, /home/ubuntu/workspace/src/assets/styles/index.sass */
    .nav li a {
      padding: 5px 10px; }

/* line 50, /home/ubuntu/workspace/src/assets/styles/index.sass */
.main {
  padding: 20px;
  border-bottom: 1px solid #efefef; }

/* line 55, /home/ubuntu/workspace/src/assets/styles/index.sass */
.footer {
  padding: 20px; }
  /* line 58, /home/ubuntu/workspace/src/assets/styles/index.sass */
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 12px; }
