/* line 7, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 10, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: #555; }

/* line 17, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #555; }

/* line 23, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 100%;
  display: block;
  clear: both;
  float: left; }

/* line 30, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
.header {
  padding: 20px;
  border-bottom: 1px solid #efefef; }

/* line 35, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
.nav {
  margin: 0;
  padding: 0; }
  /* line 39, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
  .nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
    /* line 45, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
    .nav li a {
      padding: 5px 10px; }

/* line 49, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
.main {
  padding: 20px;
  border-bottom: 1px solid #efefef; }

/* line 54, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
.footer {
  padding: 20px; }
  /* line 57, /Users/darcyclarke/Dropbox/Work/Humber/Lessons/11. Single Page Applications/spa-boilerplate/src/assets/styles/index.sass */
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 12px; }
