doctype html
html

  head

    meta(charset="utf-8")
  
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
  
    title TBD
  
    meta(name="description", content="Hello World")
  
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
  
    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")
  
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400', rel='stylesheet', type='text/css')
  
  body
    .wrapper
    
      
      nav
  
        ul
          li.one
            a(href='/') Home
            
          li.two
            a(href='/about') about
            
          li.three
            a(href='/portfolio') portfolio
            
            
          li.four
            a(href='/fun') Fun
            
          li.five
            a(href='/contact') contact
      .main
  

    

  // -----------------------------
  // Templates
  // -----------------------------

  script#home(type="text/template").
    <div class="page home">{{{logolarge}}}</div>

  script#about(type="text/template").
    <div class="page about">
    {{{content}}}
    {{{avi}}}
    {{{info}}}
    </div>
    
  script#portfolio(type="text/template").
    <div class="page portfolio">
    {{{content}}}
    {{{pieceone}}}
    {{{piecetwo}}}
    {{{piecethree}}}
    </div>
    
  script#fun(type="text/template").
    <div class="page fun">{{{content}}}
    </div>

  script#contact(type="text/template").
    <div class="page contact">{{{content}}}
    </div>

  // -----------------------------
  // Libraries
  // -----------------------------

  script(type="text/javascript", src="//code.jquery.com/jquery-2.1.1.min.js")

  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")

  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")

  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")
  
  script(src='/socket.io/socket.io.js')
  
  script(src='http://code.jquery.com/jquery-1.8.0.min.js')
  
  script(src='assets/js/script.js')
  // -----------------------------
  // Application
  // -----------------------------

  script(type="text/javascript", src="assets/scripts/main.js")
